In [21]:
!pip install pymssql

Collecting pymssql
  Downloading pymssql-2.2.1-cp38-cp38-macosx_10_14_x86_64.whl (512 kB)
     |████████████████████████████████| 512 kB 1.3 MB/s eta 0:00:01
Installing collected packages: pymssql
Successfully installed pymssql-2.2.1

In [1]:
import pymssql
import pandas as pd
conn = pymssql.connect('vm-as35.staff.corp.local',
                      'student', 'sql2020' , 'Football_HSE')

# cursor = conn.cursor()
# cursor.execute('SELECT * FROM database_name.table')

# for row in cursor:
#     print(row)

In [1]:
from sqlalchemy import create_engine
import sqlalchemy
engine = create_engine('mssql+pymssql://student:sql2020@vm-as35.staff.corp.local/?charset=utf8')

In [70]:
import pandas as pd
df = pd.read_csv('file.csv')

import datetime
df['v_time'] = df['v_time'].astype(datetime.datetime)
df

TypeError: dtype '<class 'datetime.datetime'>' not understood

In [51]:
df.dtypes

v_time       object
IP           object
agent        object
url          object
client_id     int64
section      object
cookie       object
dtype: object

In [67]:
df1 = pd.DataFrame(df.loc[0] ,columns = df.columns)
df1.loc[0] = df.loc[0]
df1

,v_time,IP,agent,url,client_id,section,cookie
0,08/06/2021 00:57:15,209.141.47.35,Safari,http://146.185.211.182/,0,/main,-

In [47]:
import numpy as np
df[df['v_time'].isna() == True]

Empty DataFrame
Columns: [v_time, IP, agent, url, client_id, section, cookie]
Index: []

In [53]:
dtypes = {'url':sqlalchemy.types.String(),
          'agent':sqlalchemy.types.String(),
          'IP':sqlalchemy.types.String(),
          'v_time' :sqlalchemy.types.DateTime(),
          'client_id':sqlalchemy.types.Integer(),
          'section':sqlalchemy.types.String(),
          'cookie':sqlalchemy.types.String()
         }

In [68]:
df1.to_sql(name='Clickstream',con = engine,if_exists='append',schema='DM1_2021_KDZ_12.dbo',index=False, dtype = dtypes)

IntegrityError: (pymssql.IntegrityError) (515, b"Cannot insert the value NULL into column 'v_time', table 'DM1_2021_KDZ_12.dbo.Clickstream'; column does not allow nulls. INSERT fails.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")
[SQL: INSERT INTO [DM1_2021_KDZ_12].dbo.[Clickstream] (v_time, [IP], agent, url, client_id, section, cookie) VALUES (%(v_time)s, %(IP)s, %(agent)s, %(url)s, %(client_id)s, %(section)s, %(cookie)s)]
[parameters: {'v_time': '08/06/2021 00:57:15', 'IP': '209.141.47.35', 'agent': 'Safari', 'url': 'http://146.185.211.182/', 'client_id': 0, 'section': '/main', 'cookie': '-'}]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

## Выгружаю игры ##

In [2]:
games = pd.read_excel('Football_HSE.xlsx')
games

     Tour    Home_ID      Away_ID  Home_Goals  Away_Goals
0       1    Олимпик     Кристалл           8           3
1       1  LX United        Майти           5           5
2       1        M8s          ДФФ           5           5
3       1        SDR       Unicef           5           4
4       1     Феникс         СССР           3           3
..    ...        ...          ...         ...         ...
139    24        M8s          ДФФ           2           4
140    24        КЛН  El Fenomeno           2           3
141    24       СССР       Феникс           4           5
142    24     Unicef          SDR           6           5
143    24   Кристалл      Олимпик           2           4

[144 rows x 5 columns]

In [3]:
data.drop('Game')

NameError: name 'data' is not defined

In [ ]:
team_ID_dict = {}
for item in team_ID_Unique:
    team_ID_dict[item] = players.index[players['Team_ID'] == item].tolist()

## Словарь игроков ##

In [46]:
players_dict

{6: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 4: [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 12: [30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44],
 3: [45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 7: [60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72],
 11: [73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86],
 5: [87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
 10: [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111],
 1: [112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  146],
 2: [126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137],
 8: [138, 139, 140, 141, 142, 143, 144, 145, 147, 148],
 9: [149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162]}

In [44]:
player = pd.read_sql('SELECT * FROM Football_HSE.dbo.Player',conn)

In [45]:
teams_uniques = player.Team_ID.unique()
players_dict = {}
for item in teams_uniques:
    players_dict[item] = list(player['Player_ID'][player['Team_ID']==item].unique())

In [7]:
teams = pd.read_sql('SELECT * FROM Football_HSE.dbo.Team',conn)

In [8]:
teams.index = teams.Name

In [9]:
teams_dict = teams.Team_ID.to_dict()

In [10]:
teams_dict

{'Майти': 1,
 'Олимпик': 2,
 'SDR': 3,
 'LX United': 4,
 'КЛН': 5,
 'El Fenomeno': 6,
 'Unicef': 7,
 'СССР': 8,
 'Феникс': 9,
 'Кристалл': 10,
 'ДФФ': 11,
 'M8s': 12}

### Замена названий команд на индексы ###

In [11]:
games['Home_ID'] = games['Home_ID'].map(lambda x : teams_dict[x])

In [12]:
games['Away_ID'] = games['Away_ID'].map(lambda x : teams_dict[x])

In [13]:
games

     Tour  Home_ID  Away_ID  Home_Goals  Away_Goals
0       1        2       10           8           3
1       1        4        1           5           5
2       1       12       11           5           5
3       1        3        7           5           4
4       1        9        8           3           3
..    ...      ...      ...         ...         ...
139    24       12       11           2           4
140    24        5        6           2           3
141    24        8        9           4           5
142    24        7        3           6           5
143    24       10        2           2           4

[144 rows x 5 columns]

In [14]:
games_real = games[['Tour','Home_ID','Away_ID']]

In [15]:
import random
from datetime import datetime, timedelta
date_1 = datetime(2021, 1, 24, hour=18, minute=0, second=0, microsecond=0, tzinfo=None)

In [16]:
date_1 += timedelta(days = 7)
date_1

datetime.datetime(2021, 1, 31, 18, 0)

## Добавление времени ##

In [17]:
games_real['Date_Time'] = 1

<ipython-input-17-5997fa6f5e37>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_real['Date_Time'] = 1

In [18]:
tours = games_real['Tour'].tolist()
for item in tours:
    games_real['Date_Time'][games_real['Tour'] == item ] =  date_1
    date_1 += timedelta(days = 1)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
<ipython-input-18-941c4053075b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_real['Date_Time'][games_real['Tour'] == item ] =  date_1

In [97]:
from sqlalchemy import create_engine
import sqlalchemy
engine = create_engine('mssql+pymssql://student:sql2020@vm-as35.staff.corp.local/?charset=utf8')
dtypes = {'Tour':sqlalchemy.types.Integer(),
          'Home_ID':sqlalchemy.types.Integer(),
          'Away_ID':sqlalchemy.types.Integer(),
          'Date_Time' :sqlalchemy.types.DateTime()
         }

## Журналисты и прочая бурда

In [20]:
games_part_2 = pd.DataFrame(columns=['Jour_ID','Ref_ID','Field_ID'])

In [21]:
import random
k = 3
l = 1
f = 1
for i in range (144):
    games_part_2.loc[i] = [k ,f, l]
    k += 1 
    l +=1
    f += 1
    if k == 11:
        k = 3
    if f == 9:
        f = 1
    if l == 12:
        l = 1

In [22]:
games_real_1 = games_real.merge(games_part_2,left_index = True,right_index= True)

## Загрузка в скл матчей

In [397]:
games_real_1.to_sql(name='Match',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

## Карточки

In [23]:
cards = pd.DataFrame(columns= ['Type_ID','Player_ID','Time','Match_ID'])

In [24]:
games_real_1.index += 313

In [25]:
games_real_1

     Tour  Home_ID  Away_ID            Date_Time Jour_ID Ref_ID Field_ID
313     1        2       10  2021-02-05 18:00:00       3      1        1
314     1        4        1  2021-02-05 18:00:00       4      2        2
315     1       12       11  2021-02-05 18:00:00       5      3        3
316     1        3        7  2021-02-05 18:00:00       6      4        4
317     1        9        8  2021-02-05 18:00:00       7      5        5
..    ...      ...      ...                  ...     ...    ...      ...
452    24       12       11  2021-06-23 18:00:00       6      4        8
453    24        5        6  2021-06-23 18:00:00       7      5        9
454    24        8        9  2021-06-23 18:00:00       8      6       10
455    24        7        3  2021-06-23 18:00:00       9      7       11
456    24       10        2  2021-06-23 18:00:00      10      8        1

[144 rows x 7 columns]

In [26]:
cards=[]

In [43]:
del cards

In [27]:
import numpy as np
INDEX = 0
HOME_ID = 2
AWAY_ID = 3
for row in games_real_1.itertuples():

    Match_ID = row[INDEX]
    players = players_dict[row[HOME_ID]]
    players += players_dict[row[AWAY_ID]]
    
    player = random.choice(players)
    card_list = [1,player,random.randint(1,60),Match_ID]
    cards.append(card_list)

cards

[[1, 107, 14, 313],
 [1, 15, 43, 314],
 [1, 34, 5, 315],
 [1, 46, 56, 316],
 [1, 160, 21, 317],
 [1, 98, 58, 318],
 [1, 130, 52, 319],
 [1, 91, 48, 320],
 [1, 115, 13, 321],
 [1, 151, 55, 322],
 [1, 38, 1, 323],
 [1, 100, 4, 324],
 [1, 113, 25, 325],
 [1, 51, 19, 326],
 [1, 61, 37, 327],
 [1, 103, 12, 328],
 [1, 37, 34, 329],
 [1, 93, 1, 330],
 [1, 148, 35, 331],
 [1, 124, 40, 332],
 [1, 77, 5, 333],
 [1, 148, 9, 334],
 [1, 94, 45, 335],
 [1, 107, 43, 336],
 [1, 64, 47, 337],
 [1, 90, 48, 338],
 [1, 148, 37, 339],
 [1, 146, 26, 340],
 [1, 60, 27, 341],
 [1, 128, 1, 342],
 [1, 90, 10, 343],
 [1, 76, 39, 344],
 [1, 136, 47, 345],
 [1, 113, 18, 346],
 [1, 95, 24, 347],
 [1, 124, 9, 348],
 [1, 92, 21, 349],
 [1, 74, 24, 350],
 [1, 125, 29, 351],
 [1, 130, 57, 352],
 [1, 93, 7, 353],
 [1, 122, 31, 354],
 [1, 12, 18, 355],
 [1, 72, 59, 356],
 [1, 118, 7, 357],
 [1, 36, 46, 358],
 [1, 85, 42, 359],
 [1, 124, 35, 360],
 [1, 110, 33, 361],
 [1, 132, 14, 362],
 [1, 86, 29, 363],
 [1, 11, 59, 364],
 [1, 35, 3, 365],
 [1, 22, 36, 366],
 [1, 78, 20, 367],
 [1, 20, 51, 368],
 [1, 24, 55, 369],
 [1, 115, 53, 370],
 [1, 28, 10, 371],
 [1, 142, 60, 372],
 [1, 26, 29, 373],
 [1, 15, 34, 374],
 [1, 26, 11, 375],
 [1, 26, 9, 376],
 [1, 85, 16, 377],
 [1, 86, 39, 378],
 [1, 22, 23, 379],
 [1, 13, 41, 380],
 [1, 78, 4, 381],
 [1, 83, 14, 382],
 [1, 91, 23, 383],
 [1, 84, 43, 384],
 [1, 125, 1, 385],
 [1, 76, 17, 386],
 [1, 37, 26, 387],
 [1, 143, 53, 388],
 [1, 130, 37, 389],
 [1, 145, 26, 390],
 [1, 138, 30, 391],
 [1, 74, 45, 392],
 [1, 105, 6, 393],
 [1, 82, 22, 394],
 [1, 129, 43, 395],
 [1, 107, 56, 396],
 [1, 91, 29, 397],
 [1, 74, 13, 398],
 [1, 7, 6, 399],
 [1, 97, 52, 400],
 [1, 162, 57, 401],
 [1, 138, 6, 402],
 [1, 83, 55, 403],
 [1, 112, 22, 404],
 [1, 80, 46, 405],
 [1, 21, 40, 406],
 [1, 137, 54, 407],
 [1, 93, 26, 408],
 [1, 126, 9, 409],
 [1, 113, 40, 410],
 [1, 80, 57, 411],
 [1, 10, 15, 412],
 [1, 101, 16, 413],
 [1, 98, 14, 414],
 [1, 33, 49, 415],
 [1, 113, 35, 416],
 [1, 105, 21, 417],
 [1, 36, 26, 418],
 [1, 106, 1, 419],
 [1, 111, 36, 420],
 [1, 78, 60, 421],
 [1, 43, 52, 422],
 [1, 82, 58, 423],
 [1, 113, 33, 424],
 [1, 1, 12, 425],
 [1, 123, 29, 426],
 [1, 77, 5, 427],
 [1, 109, 31, 428],
 [1, 74, 7, 429],
 [1, 24, 36, 430],
 [1, 127, 50, 431],
 [1, 44, 7, 432],
 [1, 32, 1, 433],
 [1, 80, 15, 434],
 [1, 7, 24, 435],
 [1, 14, 2, 436],
 [1, 105, 29, 437],
 [1, 111, 19, 438],
 [1, 91, 41, 439],
 [1, 82, 16, 440],
 [1, 42, 26, 441],
 [1, 38, 2, 442],
 [1, 3, 7, 443],
 [1, 142, 1, 444],
 [1, 106, 25, 445],
 [1, 80, 51, 446],
 [1, 6, 55, 447],
 [1, 156, 38, 448],
 [1, 10, 6, 449],
 [1, 38, 53, 450],
 [1, 85, 43, 451],
 [1, 131, 41, 452],
 [1, 78, 5, 453],
 [1, 127, 13, 454],
 [1, 13, 6, 455],
 [1, 73, 27, 456]]

In [28]:
cards_1 = pd.DataFrame(cards,columns= ['Type_ID','Player_ID','Time','Match_ID'])

In [35]:
a = cards_1.groupby(['Match_ID', 'Player_ID']).count()
cards_1

     Type_ID  Player_ID  Time  Match_ID
0          1        132    59       313
1          1        122    58       314
2          1         39    53       315
3          1         64    47       316
4          1        153    37       317
..       ...        ...   ...       ...
139        1        112     4       452
140        1        146    39       453
141        1         36    28       454
142        1        156    32       455
143        1         44    15       456

[144 rows x 4 columns]

In [29]:
cards_1.to_sql(name='Card',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

## Голы

In [33]:
games

     Tour  Home_ID  Away_ID  Home_Goals  Away_Goals
313     1        2       10           8           3
314     1        4        1           5           5
315     1       12       11           5           5
316     1        3        7           5           4
317     1        9        8           3           3
..    ...      ...      ...         ...         ...
452    24       12       11           2           4
453    24        5        6           2           3
454    24        8        9           4           5
455    24        7        3           6           5
456    24       10        2           2           4

[144 rows x 5 columns]

In [92]:
homes = games[['Home_ID','Home_Goals']].to_dict('records')
homes

[{'Home_ID': 2, 'Home_Goals': 8},
 {'Home_ID': 4, 'Home_Goals': 5},
 {'Home_ID': 12, 'Home_Goals': 5},
 {'Home_ID': 3, 'Home_Goals': 5},
 {'Home_ID': 9, 'Home_Goals': 3},
 {'Home_ID': 5, 'Home_Goals': 4},
 {'Home_ID': 2, 'Home_Goals': 7},
 {'Home_ID': 1, 'Home_Goals': 5},
 {'Home_ID': 11, 'Home_Goals': 5},
 {'Home_ID': 9, 'Home_Goals': 2},
 {'Home_ID': 3, 'Home_Goals': 4},
 {'Home_ID': 10, 'Home_Goals': 4},
 {'Home_ID': 4, 'Home_Goals': 4},
 {'Home_ID': 3, 'Home_Goals': 2},
 {'Home_ID': 9, 'Home_Goals': 3},
 {'Home_ID': 10, 'Home_Goals': 4},
 {'Home_ID': 7, 'Home_Goals': 3},
 {'Home_ID': 5, 'Home_Goals': 2},
 {'Home_ID': 9, 'Home_Goals': 5},
 {'Home_ID': 4, 'Home_Goals': 7},
 {'Home_ID': 3, 'Home_Goals': 8},
 {'Home_ID': 6, 'Home_Goals': 4},
 {'Home_ID': 2, 'Home_Goals': 3},
 {'Home_ID': 7, 'Home_Goals': 2},
 {'Home_ID': 3, 'Home_Goals': 6},
 {'Home_ID': 1, 'Home_Goals': 3},
 {'Home_ID': 2, 'Home_Goals': 2},
 {'Home_ID': 10, 'Home_Goals': 4},
 {'Home_ID': 4, 'Home_Goals': 4},
 {'Home_ID': 8, 'Home_Goals': 4},
 {'Home_ID': 7, 'Home_Goals': 3},
 {'Home_ID': 9, 'Home_Goals': 4},
 {'Home_ID': 3, 'Home_Goals': 2},
 {'Home_ID': 6, 'Home_Goals': 5},
 {'Home_ID': 2, 'Home_Goals': 4},
 {'Home_ID': 1, 'Home_Goals': 4},
 {'Home_ID': 3, 'Home_Goals': 4},
 {'Home_ID': 9, 'Home_Goals': 3},
 {'Home_ID': 6, 'Home_Goals': 9},
 {'Home_ID': 11, 'Home_Goals': 5},
 {'Home_ID': 1, 'Home_Goals': 5},
 {'Home_ID': 4, 'Home_Goals': 4},
 {'Home_ID': 1, 'Home_Goals': 6},
 {'Home_ID': 3, 'Home_Goals': 5},
 {'Home_ID': 5, 'Home_Goals': 6},
 {'Home_ID': 9, 'Home_Goals': 8},
 {'Home_ID': 8, 'Home_Goals': 6},
 {'Home_ID': 2, 'Home_Goals': 3},
 {'Home_ID': 2, 'Home_Goals': 4},
 {'Home_ID': 7, 'Home_Goals': 3},
 {'Home_ID': 4, 'Home_Goals': 4},
 {'Home_ID': 3, 'Home_Goals': 4},
 {'Home_ID': 1, 'Home_Goals': 4},
 {'Home_ID': 10, 'Home_Goals': 3},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 7, 'Home_Goals': 3},
 {'Home_ID': 1, 'Home_Goals': 15},
 {'Home_ID': 9, 'Home_Goals': 3},
 {'Home_ID': 2, 'Home_Goals': 4},
 {'Home_ID': 3, 'Home_Goals': 4},
 {'Home_ID': 3, 'Home_Goals': 4},
 {'Home_ID': 1, 'Home_Goals': 7},
 {'Home_ID': 4, 'Home_Goals': 7},
 {'Home_ID': 12, 'Home_Goals': 5},
 {'Home_ID': 6, 'Home_Goals': 5},
 {'Home_ID': 2, 'Home_Goals': 6},
 {'Home_ID': 1, 'Home_Goals': 4},
 {'Home_ID': 11, 'Home_Goals': 4},
 {'Home_ID': 6, 'Home_Goals': 3},
 {'Home_ID': 9, 'Home_Goals': 5},
 {'Home_ID': 3, 'Home_Goals': 5},
 {'Home_ID': 2, 'Home_Goals': 4},
 {'Home_ID': 10, 'Home_Goals': 3},
 {'Home_ID': 1, 'Home_Goals': 5},
 {'Home_ID': 11, 'Home_Goals': 5},
 {'Home_ID': 7, 'Home_Goals': 4},
 {'Home_ID': 8, 'Home_Goals': 3},
 {'Home_ID': 6, 'Home_Goals': 2},
 {'Home_ID': 8, 'Home_Goals': 2},
 {'Home_ID': 5, 'Home_Goals': 5},
 {'Home_ID': 4, 'Home_Goals': 4},
 {'Home_ID': 7, 'Home_Goals': 3},
 {'Home_ID': 12, 'Home_Goals': 3},
 {'Home_ID': 6, 'Home_Goals': 7},
 {'Home_ID': 8, 'Home_Goals': 2},
 {'Home_ID': 1, 'Home_Goals': 3},
 {'Home_ID': 6, 'Home_Goals': 4},
 {'Home_ID': 11, 'Home_Goals': 3},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 2, 'Home_Goals': 2},
 {'Home_ID': 11, 'Home_Goals': 2},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 10, 'Home_Goals': 3},
 {'Home_ID': 8, 'Home_Goals': 4},
 {'Home_ID': 1, 'Home_Goals': 2},
 {'Home_ID': 5, 'Home_Goals': 3},
 {'Home_ID': 11, 'Home_Goals': 2},
 {'Home_ID': 9, 'Home_Goals': 2},
 {'Home_ID': 6, 'Home_Goals': 2},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 7, 'Home_Goals': 2},
 {'Home_ID': 5, 'Home_Goals': 3},
 {'Home_ID': 8, 'Home_Goals': 2},
 {'Home_ID': 4, 'Home_Goals': 4},
 {'Home_ID': 5, 'Home_Goals': 4},
 {'Home_ID': 11, 'Home_Goals': 2},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 10, 'Home_Goals': 2},
 {'Home_ID': 2, 'Home_Goals': 4},
 {'Home_ID': 10, 'Home_Goals': 5},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 8, 'Home_Goals': 2},
 {'Home_ID': 7, 'Home_Goals': 2},
 {'Home_ID': 5, 'Home_Goals': 3},
 {'Home_ID': 6, 'Home_Goals': 2},
 {'Home_ID': 4, 'Home_Goals': 3},
 {'Home_ID': 11, 'Home_Goals': 2},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 10, 'Home_Goals': 3},
 {'Home_ID': 7, 'Home_Goals': 3},
 {'Home_ID': 9, 'Home_Goals': 3},
 {'Home_ID': 11, 'Home_Goals': 2},
 {'Home_ID': 6, 'Home_Goals': 2},
 {'Home_ID': 8, 'Home_Goals': 6},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 5, 'Home_Goals': 3},
 {'Home_ID': 8, 'Home_Goals': 3},
 {'Home_ID': 10, 'Home_Goals': 3},
 {'Home_ID': 11, 'Home_Goals': 3},
 {'Home_ID': 5, 'Home_Goals': 2},
 {'Home_ID': 4, 'Home_Goals': 2},
 {'Home_ID': 6, 'Home_Goals': 3},
 {'Home_ID': 9, 'Home_Goals': 3},
 {'Home_ID': 8, 'Home_Goals': 3},
 {'Home_ID': 10, 'Home_Goals': 2},
 {'Home_ID': 5, 'Home_Goals': 6},
 {'Home_ID': 7, 'Home_Goals': 3},
 {'Home_ID': 11, 'Home_Goals': 2},
 {'Home_ID': 4, 'Home_Goals': 2},
 {'Home_ID': 12, 'Home_Goals': 2},
 {'Home_ID': 5, 'Home_Goals': 2},
 {'Home_ID': 8, 'Home_Goals': 4},
 {'Home_ID': 7, 'Home_Goals': 6},
 {'Home_ID': 10, 'Home_Goals': 2}]

In [93]:
aways = games[['Away_ID','Away_Goals']].to_dict('records')
aways

[{'Away_ID': 10, 'Away_Goals': 3},
 {'Away_ID': 1, 'Away_Goals': 5},
 {'Away_ID': 11, 'Away_Goals': 5},
 {'Away_ID': 7, 'Away_Goals': 4},
 {'Away_ID': 8, 'Away_Goals': 3},
 {'Away_ID': 6, 'Away_Goals': 2},
 {'Away_ID': 8, 'Away_Goals': 2},
 {'Away_ID': 5, 'Away_Goals': 5},
 {'Away_ID': 4, 'Away_Goals': 4},
 {'Away_ID': 7, 'Away_Goals': 3},
 {'Away_ID': 12, 'Away_Goals': 3},
 {'Away_ID': 6, 'Away_Goals': 7},
 {'Away_ID': 8, 'Away_Goals': 2},
 {'Away_ID': 1, 'Away_Goals': 3},
 {'Away_ID': 6, 'Away_Goals': 4},
 {'Away_ID': 11, 'Away_Goals': 3},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 2, 'Away_Goals': 2},
 {'Away_ID': 11, 'Away_Goals': 2},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 10, 'Away_Goals': 3},
 {'Away_ID': 8, 'Away_Goals': 4},
 {'Away_ID': 1, 'Away_Goals': 2},
 {'Away_ID': 5, 'Away_Goals': 3},
 {'Away_ID': 11, 'Away_Goals': 2},
 {'Away_ID': 9, 'Away_Goals': 2},
 {'Away_ID': 6, 'Away_Goals': 2},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 7, 'Away_Goals': 2},
 {'Away_ID': 5, 'Away_Goals': 3},
 {'Away_ID': 8, 'Away_Goals': 2},
 {'Away_ID': 4, 'Away_Goals': 4},
 {'Away_ID': 5, 'Away_Goals': 4},
 {'Away_ID': 11, 'Away_Goals': 2},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 10, 'Away_Goals': 2},
 {'Away_ID': 2, 'Away_Goals': 4},
 {'Away_ID': 10, 'Away_Goals': 5},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 8, 'Away_Goals': 2},
 {'Away_ID': 7, 'Away_Goals': 2},
 {'Away_ID': 5, 'Away_Goals': 3},
 {'Away_ID': 6, 'Away_Goals': 2},
 {'Away_ID': 4, 'Away_Goals': 3},
 {'Away_ID': 11, 'Away_Goals': 2},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 10, 'Away_Goals': 3},
 {'Away_ID': 7, 'Away_Goals': 3},
 {'Away_ID': 9, 'Away_Goals': 3},
 {'Away_ID': 11, 'Away_Goals': 2},
 {'Away_ID': 6, 'Away_Goals': 2},
 {'Away_ID': 8, 'Away_Goals': 6},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 5, 'Away_Goals': 3},
 {'Away_ID': 8, 'Away_Goals': 3},
 {'Away_ID': 10, 'Away_Goals': 3},
 {'Away_ID': 11, 'Away_Goals': 3},
 {'Away_ID': 5, 'Away_Goals': 2},
 {'Away_ID': 4, 'Away_Goals': 2},
 {'Away_ID': 6, 'Away_Goals': 3},
 {'Away_ID': 9, 'Away_Goals': 3},
 {'Away_ID': 8, 'Away_Goals': 3},
 {'Away_ID': 10, 'Away_Goals': 2},
 {'Away_ID': 5, 'Away_Goals': 6},
 {'Away_ID': 7, 'Away_Goals': 3},
 {'Away_ID': 11, 'Away_Goals': 2},
 {'Away_ID': 4, 'Away_Goals': 2},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 5, 'Away_Goals': 2},
 {'Away_ID': 8, 'Away_Goals': 4},
 {'Away_ID': 7, 'Away_Goals': 6},
 {'Away_ID': 10, 'Away_Goals': 2},
 {'Away_ID': 2, 'Away_Goals': 8},
 {'Away_ID': 4, 'Away_Goals': 5},
 {'Away_ID': 12, 'Away_Goals': 5},
 {'Away_ID': 3, 'Away_Goals': 5},
 {'Away_ID': 9, 'Away_Goals': 3},
 {'Away_ID': 5, 'Away_Goals': 4},
 {'Away_ID': 2, 'Away_Goals': 7},
 {'Away_ID': 1, 'Away_Goals': 5},
 {'Away_ID': 11, 'Away_Goals': 5},
 {'Away_ID': 9, 'Away_Goals': 2},
 {'Away_ID': 3, 'Away_Goals': 4},
 {'Away_ID': 10, 'Away_Goals': 4},
 {'Away_ID': 4, 'Away_Goals': 4},
 {'Away_ID': 3, 'Away_Goals': 2},
 {'Away_ID': 9, 'Away_Goals': 3},
 {'Away_ID': 10, 'Away_Goals': 4},
 {'Away_ID': 7, 'Away_Goals': 3},
 {'Away_ID': 5, 'Away_Goals': 2},
 {'Away_ID': 9, 'Away_Goals': 5},
 {'Away_ID': 4, 'Away_Goals': 7},
 {'Away_ID': 3, 'Away_Goals': 8},
 {'Away_ID': 6, 'Away_Goals': 4},
 {'Away_ID': 2, 'Away_Goals': 3},
 {'Away_ID': 7, 'Away_Goals': 2},
 {'Away_ID': 3, 'Away_Goals': 6},
 {'Away_ID': 1, 'Away_Goals': 3},
 {'Away_ID': 2, 'Away_Goals': 2},
 {'Away_ID': 10, 'Away_Goals': 4},
 {'Away_ID': 4, 'Away_Goals': 4},
 {'Away_ID': 8, 'Away_Goals': 4},
 {'Away_ID': 7, 'Away_Goals': 3},
 {'Away_ID': 9, 'Away_Goals': 4},
 {'Away_ID': 3, 'Away_Goals': 2},
 {'Away_ID': 6, 'Away_Goals': 5},
 {'Away_ID': 2, 'Away_Goals': 4},
 {'Away_ID': 1, 'Away_Goals': 4},
 {'Away_ID': 3, 'Away_Goals': 4},
 {'Away_ID': 9, 'Away_Goals': 3},
 {'Away_ID': 6, 'Away_Goals': 10},
 {'Away_ID': 11, 'Away_Goals': 5},
 {'Away_ID': 1, 'Away_Goals': 5},
 {'Away_ID': 4, 'Away_Goals': 4},
 {'Away_ID': 1, 'Away_Goals': 6},
 {'Away_ID': 3, 'Away_Goals': 5},
 {'Away_ID': 5, 'Away_Goals': 6},
 {'Away_ID': 9, 'Away_Goals': 8},
 {'Away_ID': 8, 'Away_Goals': 6},
 {'Away_ID': 2, 'Away_Goals': 3},
 {'Away_ID': 2, 'Away_Goals': 4},
 {'Away_ID': 7, 'Away_Goals': 3},
 {'Away_ID': 4, 'Away_Goals': 4},
 {'Away_ID': 3, 'Away_Goals': 4},
 {'Away_ID': 1, 'Away_Goals': 4},
 {'Away_ID': 10, 'Away_Goals': 3},
 {'Away_ID': 12, 'Away_Goals': 2},
 {'Away_ID': 7, 'Away_Goals': 3},
 {'Away_ID': 1, 'Away_Goals': 16},
 {'Away_ID': 9, 'Away_Goals': 3},
 {'Away_ID': 2, 'Away_Goals': 4},
 {'Away_ID': 3, 'Away_Goals': 4},
 {'Away_ID': 3, 'Away_Goals': 4},
 {'Away_ID': 1, 'Away_Goals': 7},
 {'Away_ID': 4, 'Away_Goals': 7},
 {'Away_ID': 12, 'Away_Goals': 5},
 {'Away_ID': 6, 'Away_Goals': 5},
 {'Away_ID': 2, 'Away_Goals': 6},
 {'Away_ID': 1, 'Away_Goals': 4},
 {'Away_ID': 11, 'Away_Goals': 4},
 {'Away_ID': 6, 'Away_Goals': 3},
 {'Away_ID': 9, 'Away_Goals': 5},
 {'Away_ID': 3, 'Away_Goals': 5},
 {'Away_ID': 2, 'Away_Goals': 4}]

In [39]:
matches = games.index.values

In [96]:
matches

array([313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456])

In [41]:
homes[0]

{'Home_ID': 2, 'Home_Goals': 8}

In [63]:
a = players_dict[6]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [68]:
a1 = a.copy()
a1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [69]:
a1.remove(2)
a1

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [70]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [88]:
goals = []
for match in range(len(matches)):
    Home_team  = homes[match]['Home_ID']
    Home_goals  = homes[match]['Home_Goals']
    Home_players = players_dict[Home_team]
    
    for i in range(Home_goals):
        
        player = random.choice(Home_players)

        home_players_copy = Home_players.copy()
        home_players_copy.remove(player)

        asist = random.choice(home_players_copy)
        goals.append([random.randint(1,60),player,asist,matches[match]])

In [89]:
h_goals = pd.DataFrame(goals, columns=['Time','Player_ID', 'Assistent_ID', 'Match_ID'])

In [90]:
goals = []
for match in range(len(matches)):
    Away_team  = aways[match]['Away_ID']
    Away_goals  = aways[match]['Away_Goals']
    Away_players = players_dict[Away_team]
    
    for i in range(Away_goals):
        
        player = random.choice(Away_players)

        away_players_copy = Away_players.copy()
        away_players_copy.remove(player)

        asist = random.choice(away_players_copy)
        goals.append([random.randint(1,60),player,asist,matches[match]])

In [91]:
a_goals = pd.DataFrame(goals, columns=['Time','Player_ID', 'Assistent_ID', 'Match_ID'])

In [81]:
h_goals.dtypes

Time            int64
Player_ID       int64
Assistent_ID    int64
Match_ID        int64
dtype: object

In [94]:
h_goals.to_sql(name='Goal',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

In [95]:
a_goals.to_sql(name='Goal',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

## Травмы

In [104]:
injs = []
for match in range(len(matches)):
    Away_team  = aways[match]['Away_ID']
    Away_players = players_dict[Away_team]
    
    for i in range(random.randint(0,3)):
        
        player = random.choice(Away_players)

        injs.append([matches[match],player,random.randint(1,60)])

In [105]:
a_injs = pd.DataFrame(injs, columns=['Match_ID','Player_ID', 'Time'])

In [106]:
injs = []
for match in range(len(matches)):
    Home_team  = homes[match]['Home_ID']
    Home_players = players_dict[Home_team]
    
    for i in range(random.randint(0,3)):
        
        player = random.choice(Home_players)

        injs.append([matches[match],player,random.randint(1,60)])

In [107]:
h_injs = pd.DataFrame(injs, columns=['Match_ID','Player_ID', 'Time'])

In [108]:
h_injs.to_sql(name='Injury',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

In [109]:
a_injs.to_sql(name='Injury',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

## Угловые

In [122]:
corns = []
for match in range(len(matches)):
    Home_team  = homes[match]['Home_ID']
    
    for i in range(random.randint(0,10)):

        corns.append([matches[match],Home_team,random.randint(1,60)])

In [123]:
h_corns = pd.DataFrame(corns, columns=['Match_ID','Team_ID', 'Time'])

In [124]:
corns = []
for match in range(len(matches)):
    Away_team  = aways[match]['Away_ID']
    
    for i in range(random.randint(0,10)):

        corns.append([matches[match],Away_team,random.randint(1,60)])

In [125]:
a_corns = pd.DataFrame(corns, columns=['Match_ID','Team_ID', 'Time'])

In [126]:
h_corns.to_sql(name='Corner',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

In [127]:
a_corns.to_sql(name='Corner',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

## Штрафные

In [143]:
kicks = []
for match in range(len(matches)):
    Home_team  = homes[match]['Home_ID']
    
    for i in range(random.randint(0,13)):

        kicks.append([matches[match],Home_team,random.randint(1,60)])

In [144]:
h_kicks = pd.DataFrame(kicks, columns=['Match_ID','Team_ID', 'Time'])

In [145]:
kicks = []
for match in range(len(matches)):
    Away_team  = aways[match]['Away_ID']
    
    for i in range(random.randint(0,15)):

        kicks.append([matches[match],Away_team,random.randint(1,60)])

In [146]:
a_kicks = pd.DataFrame(kicks, columns=['Match_ID','Team_ID', 'Time'])

In [147]:
h_kicks.to_sql(name='Freekick',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)

In [148]:
a_kicks.to_sql(name='Freekick',con = engine,if_exists='append',schema='Football_HSE.dbo',index=False)